.links img {
    width: 2em;
    margin-right: 1em;
    margin-bottom: -0.4em;
}

p {
    margin: 0.5em 0;
}

html {
    display: flex;
    justify-content: center;
    hyphens: auto;
}

body {
    max-width: 700px;
}