@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

html {
    font-family: "EB Garamond", serif;
}

body {
    background-color: #eeeee5;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:before {
    content: "â†";
}

section {
    columns: 4;
}

section:nth-last-of-type(n+2) {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

@media (max-width: 1400px) {
    section {
        columns: 3;
    }
}

@media (max-width: 1100px) {
    section {
        columns: 2;
    }
}

@media (max-width: 700px) {
    section {
        columns: 1;
    }
}

h2 {
    margin: 0 0 1em 0;
    text-align: center;
    color: rgb(189, 10, 40);
}

h3 {
    margin: 0;
}

h4 {
    margin: 0.7em 0;
    text-align: center;
    font-variant: small-caps;
}

blockquote {
    border-left: 0.25em solid rgb(189, 10, 40);
    margin: 2em 0;
    padding: 0 2em;
}

blockquote p {
    text-indent: 0;
}

article div {
    break-inside: avoid;
}

p {
    text-indent: 0.7em;
    margin: 0;
    hyphens: auto;
}

article > p:last-of-type {
    text-align: right;
    margin-bottom: 2em;
}

article:last-of-type > p:last-of-type {
    margin-bottom: 0;
}

article div p {
    text-indent: 0;
}

.center {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 5px;
}