@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

html {
    font-family: "EB Garamond", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:before {
    content: "â†";
}

section {
    columns: 4;
}

section:nth-last-of-type(n+2) {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

@media (max-width: 1400px) {
    section {
        columns: 3;
    }
}

@media (max-width: 1100px) {
    section {
        columns: 2;
    }
}

@media (max-width: 700px) {
    section {
        columns: 1;
    }
}

h2 {
    margin: 0;
}

article div {
    break-inside: avoid;
}

p {
    text-indent: 0.7em;
    margin: 0;
}

article > p:last-of-type {
    text-align: right;
    margin-bottom: 2em;
}

article div p {
    text-indent: 0;
}
