html {
	font-family: 'DM Sans', sans-serif;
	background-image: url("line.jpg");
	background-position: center;
	margin: 1em 2em;
	padding-bottom: 2em;
	box-sizing: border-box;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-size: 200%;
	font-weight: bold;
}

*, *:after, *:before {
	box-sizing: inherit;
}

svg {
	width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
	transition: text-shadow 0.5s;
}

a:hover {
	text-shadow: 2px 2px 5px black;
}

body {
	/* background-color: #f9f9f9; */
	max-width: 700px;
	margin: auto;
}

ul {
	padding-left: inherit;
	list-style: none;
}

.links {
	text-transform: lowercase;
}

footer {
	text-transform: lowercase;
	text-align: right;
	font-size: 0.7rem;
}
