@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

html {
    font-family: 'EB Garamond', serif;
}

body {
    background-color: #eeeee5;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a:before {
    content: '← ';
}

header {
    text-transform: lowercase;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    --background-size: 200%;
    --background-zoomed: 110%;
}

.pages a {
    display: block;
    width: 300px;
    margin: 1em;
}

.pages a img {
    width: 100%;
    height: auto;
    border: 0.5em solid white;
    box-shadow: 3px 5px 10px #555555;
}

/* 
.pages a {
    box-shadow: 2px 2px 15px grey;
    margin: 1rem;
    width: 300px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.pages a::after {
    content: "";
    display: block;
    padding-bottom: 100%;
} */

.pages a:hover {
}

@media (prefers-reduced-motion) {
    .pages a:hover {

    }
}